body{
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    font-family: "helvetica", "Lucida Grande", sans-serif;
    color: #3D3D3D;
}
h1{
    padding: 10px;
    background-color: #E1EDF2;
}
h2{
    border-bottom: #E1EDF2;
}
figure{
    margin: 30px;
    padding: 15px;

    text-align: center;
    background-color: whitesmoke;
    border: 1px solid lightgrey;
}
figcaption{
    margin-top: 10px;
}
=======
    text-align: center;
    background-color: whitesmoke;
    border-bottom: 2px solid black;
}
>>>>>>> origin/master
